/*
### ROAM Railscast THEME ###
> Many thanks to the Roam Slack community for all the resources, particularly @Anthony, @Calhistoriaan, @Devon, @Murf, @Malcolm Ocean, and @David Cranall.
> Edits by Jeff Harris
> v2.0.5
*/

@charset "UTF-8";

:root {
  /* Roam default variables */
  --primary-color: #137cbd;
  --s1: 8px;
  --background-color: #e1e8ed;
  /* Primary fonts */
  --main-font: "Inter", sans-serif;
  --main-font-color: #999;
  --main-font-size: 14px;
  --code-font: "Source Code Pro", "Courier New", Courier, monospace;
  --code-font-color: #6d9cbe;
  --code-font-size: 0.9rem;
  --caret-color: #0080ff;
  /* Fonts */
  --alias-bg: transparent;
  --alias-font-color: #fecf2b;
  --attr-font-color: rgba(17, 137, 189, 0.65);
  --block-ref-bg: none;
  --block-ref-border: rgba(254, 207, 43, 0.6);
  --block-ref-font-size: 1em;
  --block-ref-hover: #eb9854;
  --block-ref-hover-bg: #111;
  --breadcrumb-bg: transparent;
  --breadcrumb-color: #5c7080;
  --breadcrumb-font-size: 13px;
  --breadcrumb-line-height: 0.85em;
  --calculation-color: #ff6000;
  --db-menu-bg: #333;
  --db-menu-border: #3d3d3d;
  --db-menu-header: #5c7080;
  --db-menu-item: #eb9854;
  --db-title-font-color: #eb9854;
  --db-title-hover: rgba(167, 182, 194, 0.3);
  --dialog-bg: #333;
  --dialog-font-color: #eee;
  --emphasis: #fc5963;
  --external-link-color: #8dbb40;
  --h1-font: var(--main-font);
  --h1-font-color: #1189bd;
  --h1-font-size: 2.25em;
  --h1-font__link--color: var(--page-link-color);
  --h2-font: var(--h1-font);
  --h2-font-color: #1189bd;
  --h2-font-size: 1.625em;
  --h2-font__link--color: var(--page-link-color);
  --h3-font: var(--h1-font);
  --h3-font-color: #1189bd;
  --h3-font-size: 1.2rem;
  --h3-font__link--color: var(--page-link-color);
  --highlight-background-color: #008aff5e;
  --highlight-font-color: #bbb;
  --highlight-link-color: #ff6000;
  --left-sidebar-font-color: #1189bd;
  --left-sidebar-font-color-hover: #e98924;
  --left-sidebar-font-size: 1rem;
  --left-sidebar-shortcuts-color: var(--left-sidebar-font-color);
  --left-sidebar-shortcuts-font-size: 1rem;
  --left-sidebar-shortcuts-title-color: var(--left-sidebar-font-color);
  --page-brackets: rgba(228, 124, 67, 0.25);
  --page-link-color: #eb9854;
  --page-link-namespace-color: #ebd454;
  --page-link-namespace-color: #f57030;
  --popover-font-color: #e98924;
  --popover-bg: #333;
  --ref-count-font-size: 0.8em;
  --right-sidebar-font-color: var(--main-font-color);
  --right-sidebar-link-color: #eb9854;
  --right-sidebar-bg: #323232;
  --right-sidebar-masonry-bg: var(--body-bg);
  --right-sidebar-masonry-outline: #3d3d3d;
  --right-sidebar-section-border-color: #e9892475;
  --search-bg: #252525;
  --search-body-font-color: #8a9ba8;
  --search-font-color: #af671c;
  --search-new-page-color: #8dbb40;
  --search-outline: #e9892475;
  --search-selected-row: #4c4c4c;
  --strong: #508bb5;
  --tag-font-color: #777;
  --tag-font-color-hover: #fff;
  --tag-hashtag: #ab6634;
  --tag-hover-bg: #e98924;
  --tag-padding: 0.071428571em 0.428571429em 0.214285714em;
  --tag-radius: 2em;
  /* Backgrounds and objects */
  --block-highlight: #00588e;
  --block-highlight-current: rgba(255, 255, 255, 0.05);
  --block-highlight-bg: #312c28;
  --body-bg: #2c2c2c;
  --bullet: rgba(225, 117, 28, 0.3);
  --bullet-closed: rgba(225, 117, 28, 1);
  --bullet-closed-right-sidebar: var(--bullet-closed);
  --bullet-outline: #404040;
  --bullet-outline-highlight: #ff9500;
  --bullet-outline-hover: #ff9500b3;
  --bullet-position: 4px;
  --bullet-version: #137cbd;
  --checkmark-border: #137cbd;
  --checkmark-bg: #555;
  --checkmark-color: #137cbd;
  --code-bg: #002b36;
  --datepicker-bg: transparent;
  --datepicker-day-wrapper: #d9822b7a;
  --datepicker-font-color: var(--popover-font-color);
  --datepicker-select-bg: #444;
  --hr: rgba(225, 117, 28, 0.5);
  --icon-bg-hover: rgba(167, 182, 194, 0.3);
  --icon-color: #e78924;
  --icon-color-hover: #e78924;
  --inline-search-bg: #333;
  --inline-comment-bg: transparent;
  --inline-comment-bg-hover: var(--reference-item-bg);
  --left-sidebar-bg: #323232;
  --left-sidebar-hover-bg: #1f1f1f;
  --reference-item-bg: #d8ac6e1a;
  --reference-item-bg-2: #d8ac6e1a;
  --reference-item-bg-3: #d8ac6e1a;
  --section-border-color: #e9892475;
  --select-bg: #232323;
  --topbar-bg: var(--body-bg);
  --topbar-border-color: #333;
  --yt-play-button-border: rgba(225, 117, 28, 1);
  --yt-play-button-bg: rgba(108, 109, 36, 0.1);
  --yt-play-button-bg-hover: rgba(109, 77, 36, 0.25);
  /* Misc */
  --pages-delete-bg: #222;
  --pages-delete-border-color: #d8e1e8;
  --pages-header-row-bg: #262626;
  --pages-header-row-font-color: #bfccd6;
  --pages-mentions-bg-empty: #3a3a3a;
  --pages-mentions-color: #ff6000;
  --pages-mentions-color-empty: #737373;
  --pages-row-highlight: #292929;
  --pages-search-bg: #3a3a3a;
  --pages-search-outline: #e9892475;
  --pages-table-border: #2f373d;
  --pages-sorted-color: #508bb5;
  --table-border: #444;
  --table-font-size: 0.85rem;
  --kanban-board-bg: #333333;
  --kanban-card-bg: #555555;
  --kanban-card-font-color: #6d9cbe;
  --kanban-column-bg: #454545;
  --kanban-column-font-color: #e98924;
  --encrypted-font-color: #ff6000;
  --encrypted-bg: #222;
  --pomodoro-bg: transparent;
  --pomodoro-color: #fc5963;
  --pomodoro-border: #fc596370;
  --blockquote-font-color: rgba(109, 156, 190, 0.89);
  --blockquote-font-size: 14px;
  --blockquote-border-color: #30404d;
  --blockquote-bg: none;
  --blockquote-cite: #777;
  --emoji-bg: #2d2d2d;
  --emoji-border: rgba(225, 117, 28, 0.4);
  --emoji-color: #aaa;
  --no-query-results: "Query returned no results";
  --no-query-results-color: #fc5963;
  --query-results-border: #f2c98f1a;
  --q1: #50b2c0;
  --q2: #c5d86d;
  --q3: #ff6b6b;
  --q4: #ca7d4a;
  /* Scrollbar settings - to disable set values to none */
  --scrollbar-thumb: #323232;
  --scrollbar-track: rgba(153, 153, 153, 0.1);
  /* Saving icon colors */
  --saving-local: #99280f;
  --saving-remote: #d9822b;
  --synched: #0f9960;
  /* JH overrides */
  /*   --main-font: 'Calendas Plus', serif;
  --main-font-size: 16px;
  --code-font-size: 0.9em;  */
}

/* All Pages */
.rm-pages-row-highlight {
  background-color: var(--pages-row-highlight);
}

.rm-pages-row .rm-pages-title-col a strong {
  color: var(--page-link-color) !important;
}
.rm-pages-row .rm-pages-title-col a strong:hover {
  text-decoration: underline;
}

.bp3-icon-export {
  margin-left: 30px;
  /*RR change: added some much needed space between export and delete buttons!!! */
}

/* Custom checkboxes */
.bp3-control .bp3-control-indicator {
  background-color: var(--checkmark-bg);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(82, 82, 82, 0.8)),
    to(rgba(0, 0, 0, 0))
  );
  border: 0;
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
}

.bp3-control:hover .bp3-control-indicator {
  background-color: var(--checkmark-color);
  background-image: none;
}

.rm-all-pages .table .rm-pages-row {
  border-bottom: 1px solid var(--pages-table-border);
}
.rm-all-pages .table .rm-pages-row .rm-pages-title-col {
  color: var(--main-font-color);
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  background-color: var(--pages-header-row-bg);
  color: var(--pages-header-row-font-color);
}

.rm-all-pages div {
  font-family: var(--main-font);
}

.sorted-header-text {
  color: var(--pages-sorted-color);
}

.sorting-button-group .sort-button.focused {
  color: var(--pages-sorted-color);
}

.rm-clickable-pill {
  background-color: var(--pages-mentions-color);
}
.rm-clickable-pill.empty-pill {
  background-color: var(--pages-mentions-bg-empty);
  color: var(--pages-mentions-color-empty);
}
.rm-clickable-pill.level1-pill {
  background-color: var(--pages-mentions-color);
}
.rm-clickable-pill.level2-pill {
  background-color: var(--pages-mentions-color);
}
.rm-clickable-pill.level3-pill {
  background-color: var(--pages-mentions-color);
}

.rm-pages-toolbar .toolbar-search-group .search-icon {
  color: var(--search-font-color);
}
.rm-pages-toolbar .toolbar-search-group .search-icon.focused {
  color: var(--search-font-color);
}

.rm-pages-toolbar .toolbar-search-group .search-input {
  background-color: var(--pages-search-bg);
  border: 1px solid var(--pages-search-bg);
}
.rm-pages-toolbar .toolbar-search-group .search-input.focused {
  border: 1px solid var(--pages-search-outline);
}

.rm-pages-toolbar .toolbar-search-group .bp3-input-group {
  margin-right: 10px;
  /*RR change: added margin to move search field way from the other icons*/
}

.delete-all-dialog-items {
  border-bottom-color: var(--pages-table-border);
}

.confirmation-content-dialog .confirmation-content {
  background-color: var(--pages-delete-bg);
}

/* Icons */
.bp3-button > sub {
  padding-left: 3px;
  color: var(--filter-sub);
}

.bp3-button .bp3-icon {
  color: var(--icon-color);
}

.bp3-button .bp3-icon-standard {
  color: var(--icon-color);
}

.bp3-button .bp3-icon-large {
  color: var(--icon-color);
}

.bp3-button:before {
  color: var(--icon-color);
}

.bp3-button:not([class*="bp3-intent-"]) {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  color: var(--icon-color);
  font-weight: 700;
}
.bp3-button:not([class*="bp3-intent-"]):hover {
  background-color: var(--icon-bg-hover);
  color: var(--icon-color-hover) !important;
}

.bp3-button[class*="bp3-icon-"]::before {
  color: inherit;
}

.bp3-button[style*="border-radius: 25px;"]:hover {
  height: 30px;
  width: 30px;
}

.bp3-icon-star:before {
  color: var(--icon-color);
}

/* Alias */
.rm-alias--block {
  background-color: var(--alias-bg) !important;
  border-radius: 0 !important;
  color: var(--alias-font-color) !important;
  cursor: alias;
  padding: 0 !important;
}

.rm-alias-tooltip__content {
  max-width: 500px;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

/* Attributes */
.rm-attr-ref {
  color: var(--attr-font-color);
  font-weight: 700;
}
.rm-attr-ref:hover {
  cursor: pointer;
}

.rm-block-ref span .rm-attr-ref {
  pointer-events: pointer;
}

/* Block Reference */
.rm-block-ref {
  background-color: var(--block-ref-bg);
  border-bottom: 1px solid var(--block-ref-border);
  font-family: var(--main-font);
  font-size: var(--block-ref-font-size);
  margin: 0;
  padding: 0 2px;
}
.rm-block-ref:hover {
  background-color: var(--block-ref-hover-bg);
  color: var(--block-ref-hover);
}

.rm-inline-references {
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: var(--block-ref-bg);
  border-left: 2px solid var(--blockquote-border-color);
  margin-left: 25px;
  padding-left: 20px;
}

.rm-embed-margin-action {
  transition: all 200ms ease-in;
  top: 20px;
  width: 7px;
  bottom: 0;
  left: -7px;
  border-left: 1px solid var(--blockquote-border-color);
  background-color: var(--blockquote-border-color);
}

.rm-embed--page > .rm-embed-margin-action {
  background-color: var(--blockquote-border-color);
  border: 0 solid var(--blockquote-border-color);
}

/* Block Embed */
.rm-embed-container {
  background-color: var(--reference-item-bg);
  border-radius: 6px;
}
.rm-embed-container .rm-embed-container {
  background-color: var(--reference-item-bg);
}
.rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--reference-item-bg);
}

/* Blockquote - requires hiccup e.g., :hiccup [:blockquote [:p "Operational effectiveness is not a strategy"] [:footer [:cite "p61"]]] */
.rm-bq {
  display: inline-block;
  background-color: var(--blockquote-bg);
  border-left: 5px solid var(--blockquote-border-color);
  font-size: var(--blockquote-font-size);
  color: var(--blockquote-font-color);
  text-align: justify;
  text-justify: inter-word;
}

blockquote {
  background-color: var(--blockquote-bg);
  border-left: 5px solid var(--blockquote-border-color);
  box-sizing: border-box;
  color: var(--blockquote-font-color);
  font-size: var(--blockquote-font-size);
  margin: 0 0 20px;
  min-height: 0;
  min-width: 0;
  padding: 10px 20px;
  text-align: justify;
  text-justify: inter-word;
}
blockquote .small {
  color: var(--blockquote-cite);
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
}
blockquote footer {
  color: var(--blockquote-cite);
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
}
blockquote small {
  color: var(--blockquote-cite);
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
}

/* Code block */
.CodeMirror-matchingbracket {
  outline: 1px solid #ff9c3a;
  color: #fff !important;
}

.CodeMirror-lines {
  background: var(--code-bg);
}

.CodeMirror-activeline pre {
  background: #253540;
}

.CodeMirror {
  background: var(--code-bg);
  border-radius: 8px;
  color: #839496;
  font-family: var(--code-font);
  font-size: var(--code-font-size);
  height: auto !important;
  text-shadow: #002b36 0 1px;
}
.CodeMirror .CodeMirror-code pre {
  font-family: var(--code-font);
  box-shadow: none;
  font-size: var(--code-font-size);
}

.CodeMirror-selected {
  background: #4d516d !important;
}

.CodeMirror-gutters {
  background: #2b2b2b;
  background: var(--code-bg);
  background: #073642;
  border-right: 2px solid #2c2c2c;
}

.CodeMirror-linenumber {
  color: #586e75;
  text-shadow: #021014 0 -1px;
}

.CodeMirror-cursor {
  border-left: 1px solid #d4cfc9 !important;
}

.cm-def {
  color: #859900;
}

.cm-s-default .cm-atom {
  color: #839496;
}

.cm-s-default .cm-attribute {
  color: #839496;
}

.cm-s-default .cm-builtin {
  color: #268bd2;
}

.cm-s-default .cm-comment {
  color: #586e75;
}

.cm-s-default .cm-def {
  color: #859900;
}

.cm-s-default .cm-keyword {
  color: #cb4b16;
}

.cm-s-default .cm-number {
  color: #2aa198;
}

.cm-s-default .cm-property {
  color: #b58900;
}

.cm-s-default .cm-qualifier {
  color: #268bd2;
}

.cm-s-default .cm-string {
  color: #2aa198;
}

.cm-s-default .cm-string-2 {
  color: #2aa198;
}

.cm-s-default .cm-tag {
  color: #859900;
}

.cm-s-default .cm-variable-2 {
  color: #839496;
}

.cm-s-default .cm-variable-3 {
  color: #ccc;
}

.cm-variable {
  color: #dc322f;
}

/* Code - inline */
code {
  background-color: var(--code-bg);
  border: none;
  border-radius: 4px;
  color: var(--code-font-color);
  font-family: var(--code-font);
  font-size: var(--code-font-size);
  padding: 3px 4px;
}

/* Database menu */
.roam-sidebar-container .rm-db-title-container {
  display: flex;
  align-items: center;
  align-content: space-between;
  width: 100%;
  max-width: 80%;
}
.roam-sidebar-container .rm-db-title-container:hover {
  cursor: pointer;
  background-color: var(--db-title-hover);
}
.roam-sidebar-container .rm-db-title-container .rm-db-title {
  margin-top: 4px;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: var(--db-title-font-color);
}

.roam-sidebar-container .rm-graph-dropdown {
  max-height: 70vh;
  overflow: scroll;
  font-size: 14px;
  font-family: var(--main-font);
}
.roam-sidebar-container .rm-graph-dropdown a {
  color: var(--db-men-item);
}

.bp3-menu-header {
  border-top: 1px solid var(--db-menu-header);
}
.bp3-menu-header > h6 {
  color: var(--db-menu-header);
}

ul.bp3-menu.rm-graph-dropdown {
  background-color: var(--db-menu-bg);
  border: 1px solid var(--db-menu-border);
}

/* Date picker */
.bp3-popover .bp3-popover-content .bp3-datepicker {
  background-color: var(--datepicker-bg);
  color: var(--datepicker-font-color);
}
.bp3-popover
  .bp3-popover-content
  .bp3-datepicker
  .DayPicker-Day.DayPicker-Day--isToday
  .bp3-datepicker-day-wrapper {
  border: 1px solid var(--datepicker-day-wrapper);
}

/* Month and year selectors */
.bp3-html-select.bp3-minimal select {
  background-color: var(--popover-bg) !important;
  color: var(--popover-font-color);
}
.bp3-html-select.bp3-minimal select:hover {
  background: rgba(167, 182, 194, 0.3);
  color: var(--popover-font-color);
}

/* Diagram */
.roam-body .roam-app svg div {
  color: #202b33;
}

/* Dialog window */
.bp3-dialog {
  background: var(--dialog-bg) !important;
  color: var(--dialog-font-color);
}

input {
  background-color: var(--reference-item-bg);
  border: 1px solid var(--bullet);
  line-height: normal;
  padding: 5px;
}

button {
  background-color: var(--reference-item-bg);
  border: 1px solid var(--bullet);
  line-height: normal;
  padding: 5px;
}
button[style*="border: 0.5px solid rgb(206, 217, 224);"] {
  background-color: var(--reference-item-bg) !important;
  border: 1px solid var(--reference-item-bg) !important;
}
button[style*="background-color: rgba(72, 176, 240, 0.5);"] {
  background-color: var(--reference-item-bg) !important;
  border: 1px solid var(--icon-color) !important;
}

/* Mobile quick synch dialog */
.rm-quick-capture-sync-modal {
  background-color: #d8e1e8;
  background-color: var(--dialog-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 70vw;
  min-height: 70vh;
  max-height: 90vh;
  overflow-y: scroll;
  padding: 20px;
}
.rm-quick-capture-sync-modal #quick-capture-history {
  margin-top: 20px;
  width: 70%;
}

/* emoji */
.rm-emoji-button {
  background-color: var(--emoji-bg) !important;
  border: 0.5px solid var(--emoji-border) !important;
  color: var(--emoji-color) !important;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

/* Encrypted block */
.rm-encrypted-block {
  background-color: var(--encrypted-bg);
  color: var(--encrypted-font-color);
  font-size: 0.857142857rem;
}

/* External link */
a {
  color: var(--external-link-color);
}
a:focus {
  color: var(--external-link-color);
  text-decoration: underline;
}
a:hover {
  color: var(--external-link-color);
  text-decoration: underline;
}

/* In-line comments */
.rm-paren {
  color: var(--body-text);
  background-color: var(--inline-comment-bg);
  border: none;
  border-radius: 4px;
  transition: color 0.3s ease;
}

.rm-spacer {
  font-size: 1.1em;
  position: relative;
  top: 3px;
  color: var(--icon-color);
  fill: var(--icon-color);
}
.rm-spacer svg {
  height: 16px;
  width: 16px;
}
.rm-spacer svg path {
  fill: var(--icon-color);
}
.rm-spacer:hover {
  color: var(--icon-color);
}

.rm-paren__paren {
  color: var(--icon-color);
}
.rm-paren__paren:hover {
  color: var(--icon-color);
  background-color: var(--icon-bg-hover);
}

.rm-paren__paren--left {
  border-radius: 4px;
  margin-right: 2px;
  padding: 3px;
}

.rm-paren__paren--right {
  border-radius: 4px;
  margin-left: 2px;
  padding: 3px;
}

.rm-paren--closed:hover {
  background-color: var(--icon-bg-hover);
  color: var(--icon-color-hover);
}

/* Kanban */
.kanban-board {
  background-color: var(--kanban-board-bg);
}

.kanban-column {
  background-color: var(--kanban-column-bg);
  margin: 0px 4px 0px 4px;
  min-width: 200px;
}

.kanban-title {
  color: var(--kanban-column-font-color);
}

.kanban-card {
  background-color: var(--kanban-card-bg);
  color: var(--kanban-card-font-color);
}

div .kanban-title {
  font-family: var(--main-font);
}

div .kanban-card {
  font-family: var(--main-font);
}

/* Linked reference */
.rm-reference-container {
  margin-bottom: 2em;
}
.rm-reference-container span[style*="color: red;"] {
  /* Embed link */
  color: var(--main-font-color) !important;
}

.rm-reference-item {
  background-color: var(--reference-item-bg);
  border-radius: 7px;
  flex: 1 1 100%;
  margin-right: 8px;
  margin-top: 8px;
  padding: 10px;
  padding-right: 0;
  word-break: break-word;
}
.rm-reference-item div {
  font-family: var(--main-font);
}
.rm-reference-item .controls .block-expand {
  margin-top: 0;
}
.rm-reference-item .rm-block-text {
  padding-right: 30px;
}

/* Menus */
.bp3-popover .bp3-popover-content {
  background: var(--popover-bg);
  border-radius: 4px;
  color: var(--popover-font-color);
}

.bp3-popover .bp3-popover-arrow-fill {
  fill: var(--popover-bg);
}

.bp3-menu {
  background: var(--popover-bg);
  border-radius: 4px;
  color: var(--popover-font-color);
  padding-bottom: 10px;
}

.bp3-menu-item.menu-item {
  color: var(--popover-font-color);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting {
  background-color: var(--reference-item-bg);
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting:hover {
  background-color: var(--db-title-hover);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown a {
  color: var(--dialog-font-color);
}

/* Slash menu and inline search */
div .bp3-elevation-3 {
  background-color: var(--inline-search-bg) !important;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #222, 0 2px 15px #222;
  color: var(--popover-font-color);
  font-size: 0.85em;
}

[title~="Search"] {
  color: var(--popover-font-color) !important;
}

/* Row highlight in search menus */
.bp3-elevation-3
  .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"],
.bp3-popover-content
  .rm-menu-item[style*="background-color: rgb(213, 218, 223);"] {
  background-color: var(--search-selected-row) !important;
}

/* Alignment and Header buttons in the bullet popover menu */
button[style*="background-color: rgba(72, 176, 240, 0.5);"] {
  background-color: var(--reference-item-bg) !important;
  border: 1px solid var(--icon-color) !important;
}

button[style*="border: 0.5px solid rgb(206, 217, 224);"] {
  background-color: var(--reference-item-bg) !important;
  border: 1px solid var(--reference-item-bg) !important;
}

/* Save Status */
.bp3-transition-container {
  z-index: 1000;
}

.bp3-card {
  background-color: var(--reference-item-bg);
}

.rm-mermaid svg .node rect,
.rm-mermaid svg .node circle,
.rm-mermaid svg .node ellipse,
.rm-mermaid svg .node polygon,
.rm-mermaid svg .node path,
.rm-mermaid svg .actor {
  fill: var(--page-brackets) !important;
  stroke: var(--search-outline) !important;
  stroke-width: 1px;
}

.rm-mermaid svg text {
  font-family: var(--main-font) !important;
}
.rm-mermaid svg text.actor > tspan {
  fill: var(--main-font-color) !important;
  stroke: none;
}

.rm-mermaid svg .messageText {
  fill: var(--main-font-color) !important;
  stroke: none !important;
}

.rm-mermaid svg line {
  stroke: var(--hr) !important;
  fill: currentColor;
}

.roam-body .roam-app svg div {
  color: var(--main-font-color);
}

#arrowhead {
  stroke: var(--hr) !important;
}

/* Page link */
.rm-page-ref-brackets,
.rm-page-ref__brackets {
  color: var(--page-brackets);
}

.rm-page-ref--link {
  color: var(--page-link-color);
}

.rm-page-ref-namespace-color,
.rm-page-ref--namespace {
  color: var(--page-link-namespace-color);
}

.rm-heading-level-1 .rm-page-ref--link {
  color: var(--h1-font__link--color);
}

.rm-heading-level-2 .rm-page-ref--link {
  color: var(--h2-font__link--color);
}

.rm-heading-level-3 .rm-page-ref--link {
  color: var(--h3-font__link--color);
}

/* Page date link - organized by quarter */
span[data-link-title^="January "] .rm-page-ref-link-color,
span[data-link-title^="February "] .rm-page-ref-link-color,
span[data-link-title^="March "] .rm-page-ref-link-color {
  color: var(--q1);
}

span[data-link-title^="April "] .rm-page-ref-link-color,
span[data-link-title^="May "] .rm-page-ref-link-color,
span[data-link-title^="June "] .rm-page-ref-link-color {
  color: var(--q2);
}

span[data-link-title^="July "] .rm-page-ref-link-color,
span[data-link-title^="August "] .rm-page-ref-link-color,
span[data-link-title^="September "] .rm-page-ref-link-color {
  color: var(--q3);
}

span[data-link-title^="October "] .rm-page-ref-link-color,
span[data-link-title^="November "] .rm-page-ref-link-color,
span[data-link-title^="December "] .rm-page-ref-link-color {
  color: var(--q4);
}

/* Pomodoro timer */
.rm-pomodoro {
  background: var(--pomodoro-bg) !important;
  border: 1px solid var(--pomodoro-border);
  border-radius: 2em;
  color: var(--pomodoro-color) !important;
  display: inline-block;
  font-weight: 600;
  line-height: 1.7em;
  padding: 2px 12px;
}
.rm-pomodoro::first-letter {
  margin-right: 4px;
}

/* Query */
.rm-query {
  border: 0.75px solid var(--query-results-border);
  border-radius: 7px;
  padding-bottom: var(--s1);
}
.rm-query .rm-query-title {
  background-color: var(--reference-item-bg);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: var(--breadcrumb-color);
  font-size: 0.8em;
  padding: var(--s1);
}

/* Custom message for empty querty results */
.rm-block-text .rm-reference-main .rm-mentions:empty:after {
  color: var(--no-query-results-color);
  content: var(--no-query-results);
  font-family: var(--main-font);
  padding: var(--s1);
}

/* RR change: MINIMIZE QUERIES: add any one of the following tags before the beginning of your query (in the same block):

    #min-title = hides the page reference link / page title
    #min-con = hides the contextual reference information (breadcrumbs)
    #minimal = hides both the title and the context
    #min-q = hides the query string, similar to legacy behavior
    #min-all = hides everything — title, context, and query string
    #min-todo = hides everything and makes a compact list

inspired by Matt Goldenberg */
[data-tag="minimal"] {
  display: none !important;
}
[data-tag="minimal"] + .rm-query .rm-title-arrow-wrapper {
  display: none !important;
}
[data-tag="minimal"] + .rm-query .zoom-mentions-view {
  display: none !important;
}
[data-tag="minimal"] + .rm-query .rm-query-title::after {
  content: " #minimal";
}

[data-tag="min-title"] {
  display: none !important;
}
[data-tag="min-title"] + .rm-query .rm-title-arrow-wrapper {
  display: none !important;
}
[data-tag="min-title"] + .rm-query .rm-query-title::after {
  content: " #minimal";
}

[data-tag="min-con"] {
  display: none !important;
}
[data-tag="min-con"] + .rm-query .zoom-mentions-view {
  display: none !important;
}
[data-tag="min-con"] + .rm-query .rm-query-title::after {
  content: " #minimal";
}

[data-tag="min-q"] {
  display: none !important;
}
[data-tag="min-q"] + .rm-query .rm-query-title {
  display: none !important;
}

[data-tag="min-all"] {
  display: none !important;
}
[data-tag="min-all"] + .rm-query .zoom-mentions-view {
  display: none !important;
}
[data-tag="min-all"] + .rm-query .rm-title-arrow-wrapper {
  display: none !important;
}
[data-tag="min-all"] + .rm-query .rm-query-title {
  display: none !important;
}

[data-tag="min-todo"] {
  display: none !important;
}
[data-tag="min-todo"] + .rm-query div[style*="margin-left: 12px;"] {
  margin-left: 0 !important;
}
[data-tag="min-todo"] + .rm-query .zoom-mentions-view {
  display: none !important;
}
[data-tag="min-todo"] + .rm-query .rm-title-arrow-wrapper {
  display: none !important;
}
[data-tag="min-todo"] + .rm-query .rm-query-title {
  display: none !important;
}
[data-tag="min-todo"] + .rm-query .rm-reference-item {
  background: none;
  margin-left: -12px;
  margin-top: 3px;
  padding: 0;
}

.rm-g.rm-not-focused .rm-page-ref[data-tag=".rm-g"] {
  display: none;
  color: green;
}

.rm-g.rm-not-focused .rm-block {
  background-color: var(--inline-search-bg);
  margin: 0 0 0 35px;
  /* fix for expand bullets feature */
}

.rm-g.rm-not-focused.rm-block--open.rm-not-focused > .rm-block__self {
  position: absolute;
  border-left: 2px solid transparent;
  border-radius: 20px 0px 0px 20px;
  width: 40px;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.rm-g.rm-not-focused.rm-block--open.rm-not-focused
  > .rm-block__self
  > .rm-block__input--view {
  background-color: var(--tag-hashtag);
  color: var(--highlight-font-color);
  left: 5px;
  transform: rotate(90deg) translateY(-1em);
  transform-origin: top left;
  padding-left: 10px;
  margin-left: 7px;
}

.rm-g.rm-not-focused.rm-block--open > .rm-block__children {
  margin-left: 0px !important;
  min-width: 100%;
}

.rm-g.rm-not-focused.rm-block--open.rm-focused .rm-block__self {
  flex: 1 1 100%;
  width: 100%;
}

.rm-g.rm-not-focused.rm-block--closed > .rm-block__self .rm-block-separator {
  height: 100%;
  border-left: 2px solid #8a9ba8;
  border-radius: 50px;
}

:root {
  --fg-flatpickr: var(--cl-dark-jungle-green);
  --bg-flatpickr: var(--cl-wild-sand);
  --fg-flatpickr-day: var(--cl-dark-jungle-green);
  --fg-flatpickr-day-disabled: var(--cl-french-gray);
  --fg-flatpickr-border: var(--cl-storm-dust);
  --fg-today: var(--cl-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-flatpickr: var(--cl-gray-chateau);
    --bg-flatpickr: var(--cl-rangoon-green);
    --fg-flatpickr-day: var(--cl-white);
    --fg-flatpickr-day-disabled: var(--cl-storm-dust);
    --fg-flatpickr-border: var(--cl-storm-dust);
    --fg-today: var(--cl-white);
  }
}

.tt-menu {
  background-color: var(--popover-bg) !important;
  color: var(--fg-flatpickr) !important;
}

.typeahead {
  background-color: var(--bg-flatpickr) !important;
  color: var(--fg-flatpickr) !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  color: var(--fg-flatpickr) !important;
  fill: var(--fg-flatpickr) !important;
}

.flatpickr-calendar:after,
.flatpickr-calendar.arrowTop:before {
  display: none;
}

.flatpickr-calendar {
  border: none;
}

.flatpickr-weekwrapper .flatpickr-weeks {
  border-right: 1px solid var(--fg-flatpickr-border);
  box-shadow: none;
  -webkit-box-shadow: none;
}

.flatpickr-current-month > *,
.flatpickr-monthDropdown-months > *,
#jumptoDateInput,
.jsPanel .jsPanel-content,
.flatpickr-calendar {
  background-color: var(--bg-flatpickr) !important;
  color: var(--fg-flatpickr) !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

span.flatpickr-weekday {
  color: inherit;
}

.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover,
.flatpickr-day {
  color: var(--fg-flatpickr-day);
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: var(--fg-flatpickr-day-disabled);
}

.flatpickr-day.today {
  background-color: var(--primary-color) !important;
  color: var(--fg-today) !important;
  border: none;
}

.flatpickr-current-month input.cur-year,
.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-size: 16px;
}

.tribute-container ul {
  background-color: var(--pages-search-bg) !important;
  color: var(--main-font-color);
  font-family: var(--main-font);
}
.tribute-container ul .highlight {
  background: var(--search-outline) !important;
  color: #fff;
}

.jsPanel .jsPanel-content {
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: Roboto, "Open Sans", Lato, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  background: var(--dialog-bg);
  color: var(--dialog-font-color);
  font-size: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.tippy-box {
  background-clip: padding-box;
  border: 1px solid rgba(0, 8, 16, 0.15);
  box-shadow: 0 4px 14px -2px rgba(0, 8, 16, 0.08);
  background-color: var(--popover-bg) !important;
  color: var(--popover-font-color);
}

/* Select Menu */
select {
  background-color: var(--select-bg) !important;
  border-color: var(--search-outline);
  border-radius: 4px;
  font-size: 0.857142857rem;
  padding: 1px 5px;
}

/* Table */
.roam-table {
  overflow-x: scroll;
  padding-bottom: 24px;
}
.roam-table th {
  border: 1px solid var(--table-border);
  font-family: var(--main-font);
  font-size: var(--table-font-size);
  margin: 0;
}
.roam-table td {
  border: 1px solid var(--table-border);
  font-family: var(--main-font);
  font-size: var(--table-font-size);
  margin: 0;
}
.roam-table tr {
  border: 1px solid var(--table-border);
  font-family: var(--main-font);
  font-size: var(--table-font-size);
  margin: 0;
}
.roam-table div {
  font-family: var(--main-font);
}

/* Tags */
.rm-page-ref--tag {
  border-radius: var(--tag-radius);
  color: var(--tag-font-color);
  padding: var(--tag-padding);
}
.rm-page-ref--tag:hover {
  background-color: var(--tag-hover-bg);
  color: var(--tag-font-color-hover) !important;
  text-decoration: none;
}

span.rm-page-ref.rm-page-ref--tag:hover {
  background-color: var(--tag-hover-bg);
  color: var(--tag-font-color-hover) !important;
  text-decoration: none;
}

/* Hashtag color */
.rm-page-ref--tag[data-tag="42SmartBlock"]:before {
  content: "#" !important;
  color: var(--tag-hashtag) !important;
  position: absolute;
  visibility: visible;
  background: none !important;
}

/* It is probably best to move these out and be used in roam/css code block */
/* CUSTOM LINKS: Uncomment to use the section below to create custom styles for specific links. Change "Theme" to match some portion of the title of the link you want to customize. Adjust the background-color value ("ff6000") and color value ("fff") to suite your preferences. Duplicate the section for each new link to be customized */
/* 
span[data-link-title*="Theme"] .rm-page-ref-link-color,
span[data-link-title*="Theme"] .rm-page-ref-namespace-color {
  background-color: #ff6000;
  color: #fff;
  padding: 3px 7px;
  line-height: 2em;
  font-weight: 500;
  border-radius: 0.1875em;
}
 */
/* Template for creating tags in the shape of flags */
span[data-tag*="Meeting"] {
  visibility: hidden;
  padding-right: 28px;
  padding-left: 0;
}

span[data-tag*="Meeting"]:before {
  content: "Meeting";
  visibility: visible;
  background-color: #1189bd;
  position: absolute;
  color: #ddd;
  padding-right: 24px;
  padding-left: 10px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  border-radius: 4px 0 0 4px;
}

[data-tag]::before {
  content: "#";
  color: var(--tag-hashtag);
  visibility: visible;
  position: absolute;
}

[data-tag]:hover::before {
  color: var(--tag-font-color-hover);
}

/* Todo checkmark */
.checkmark {
  border: 1px solid var(--checkmark-color);
}

.check-container {
  padding-right: 4px;
}

[data-page-links*='"DONE"'] {
  opacity: 0.65;
  text-decoration: line-through;
}

/* Twitter embeds */
.twitter-tweet.twitter-tweet-rendered {
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
}

.twitter-tweet:hover {
  opacity: 0.9;
}

/* Version bullet */
.version-bullet {
  background-color: var(--bullet-version) !important;
}

/* Version controls */
.rm-version-choice {
  border-bottom: 0.5px solid var(--bullet-version) !important;
  padding-left: 25px;
}

.rm-button-selected {
  border-bottom: 2px solid var(--bullet-version);
}

/* Youtube Timestamp styles
  https://c3founder.github.io/Roam-Enhancement/
*/
.timestamp-control {
  background-color: var(--yt-play-button-bg);
  color: var(--yt-play-button-border);
  margin-right: 8px;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 5px;
  border-radius: 50% !important;
  font-size: 0.9em;
  padding: 5px 8px !important;
  border: 1px solid;
  opacity: 0.65;
}

.timestamp-control:hover {
  background-color: var(--yt-play-button-bg-hover);
  opacity: 1;
}

/* Hide YouTube Breadcrumb */
.parent-path-wrapper > div > span > div > iframe,
.parent-path-wrapper > div > span > .hoverparent {
  display: none;
}

/* Body styles */
body {
  background-color: var(--body-bg);
  caret-color: var(--caret-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

.roam-block-container {
  border-radius: 0px;
  max-width: 100%;
}

.rm-block-text {
  max-width: 100%;
}

.roam-center {
  flex-basis: 50% !important;
}

.rm-block-input {
  overflow-wrap: break-word;
  background-color: var(--block-highlight-current);
  width: 96%;
}

/* Bullets */
.controls {
  padding-top: 3px;
}

.rm-bullet {
  position: absolute;
}
.rm-bullet:hover {
  position: absolute;
}
.rm-bullet .rm-bullet__inner {
  background-color: var(--bullet);
}

.rm-bullet.rm-bullet--closed .rm-bullet__inner {
  border: 4px solid var(--bullet-closed);
  margin-top: 2px;
}

.rm-caret.rm-caret-hidden {
  opacity: 0 !important;
}

.sidebar-content .rm-bullet.rm-bullet--closed .rm-bullet__inner {
  border: 4px solid var(--bullet-closed);
}

/* Outline border */
.block-border-left {
  border-left: 1px solid var(--bullet-outline);
}

/*RR change: SECTION border*/
.roam-log-container .roam-log-page {
  border-top: 1px solid var(--section-border-color);
}

.block-highlight-grey {
  background-color: var(--block-highlight);
}

.block-highlight-blue {
  background-color: var(--block-highlight);
}

.block-highlight-yellow {
  background-color: var(--block-highlight-bg);
}

hr {
  margin-top: 0.785714286em;
  margin-bottom: 2.5em;
  border: 0;
  border-top: 1px solid var(--hr);
}

/*RR change: DEFAULT TEXT - a small addition to the placeholder text to Daily Notes or Pages to help get you started */
div#block-input-ghost span:before {
  content: "Cmd+enter or ";
}

/* Typography */
textarea {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

h1 textarea {
  font-size: 36px;
  font-family: var(--h1-font);
}

.rm-level1,
.rm-heading-level-1 > .rm-block__self .rm-block__input {
  color: var(--h1-font-color);
  font-family: var(--h1-font);
  font-size: var(--h1-font-size);
  font-weight: 400;
  letter-spacing: normal;
}

.rm-level1 label .check-container {
  /*RR change: align checkboxes in zoomed-in headings */
  margin-bottom: 17px;
  margin-right: -3px;
}

.rm-level1 textarea {
  font-size: var(--h1-font-size);
  line-height: 1.5;
}

.rm-level1 .rm-block-input {
  margin-top: -4px;
  margin-bottom: 4px;
}

.rm-level2,
.rm-heading-level-2 > .rm-block__self .rm-block__input {
  color: var(--h2-font-color);
  font-family: var(--h2-font) !important;
  font-size: var(--h2-font-size);
  font-weight: 200;
  letter-spacing: 0.001em;
}

.level3,
.rm-level3,
.rm-heading-level-3 > .rm-block__self .rm-block__input {
  color: var(--h3-font-color);
  font-family: var(--h3-font) !important;
  font-size: var(--h3-font-size);
  font-weight: 700;
  letter-spacing: 0.002em;
}

.roam-body .roam-app {
  color: var(--main-font-color);
}
.roam-body .roam-app h1 {
  color: var(--h1-font-color);
}
.roam-body .roam-app h1 .level2 {
  margin-top: 4px !important;
}
.roam-body .roam-app h1 .level2 a {
  color: var(--page-link-color);
}
.roam-body .roam-app .roam-article div {
  font-family: var(--main-font);
}
.roam-body .roam-app .roam-article h1 {
  font-family: var(--h1-font);
}
.roam-body .roam-app .roam-article h1 div {
  font-family: var(--h1-font);
}
.roam-body .roam-app .roam-article h1 div textarea {
  font-family: var(--h1-font);
}
.roam-body .roam-app .roam-article h2 {
  font-family: var(--h1-font);
}
.roam-body .roam-app .roam-article h2 div {
  font-family: var(--h1-font);
}
.roam-body .roam-app .roam-article h2 div textarea {
  font-family: var(--h1-font);
}
.roam-body .roam-app .roam-article h3 {
  font-family: var(--h1-font);
}
.roam-body .roam-app .roam-article h3 div {
  font-family: var(--h1-font);
}
.roam-body .roam-app .roam-article h3 div textarea {
  font-family: var(--h1-font);
}

em,
.rm-italics {
  color: var(--emphasis);
}

strong,
.rm-bold {
  color: var(--strong) !important;
  font-weight: 700;
}

.rm-strikethrough {
  opacity: 0.6;
}

.rm-highlight {
  background-color: var(--highlight-background-color);
  color: var(--highlight-font-color);
  padding: 2px 2px 0;
  margin: 0 -2px;
}
.rm-highlight .rm-page-ref-link-color {
  color: var(--highlight-link-color);
}

/* Calculation Results */
.rm-calc-val {
  color: var(--calculation-color) !important;
}

/* Topbar */
.roam-topbar {
  background-color: var(--topbar-bg);
  border-bottom: 0.5px solid var(--topbar-border-color);
}

.bp3-input {
  background: var(--search-bg);
  box-shadow: none;
  color: var(--popover-font-color);
  font-size: 0.85em;
}
.bp3-input::placeholder {
  color: var(--search-font-color);
}
.bp3-input:focus {
  border: var(--search-outline);
  box-shadow: 0 0 0 1px var(--search-outline);
}
.bp3-input[readonly] {
  background: var(--search-bg);
  box-shadow: none;
  font-size: 0.85em;
}
.bp3-input .bp3-active {
  border: var(--search-outline);
  box-shadow: 0 0 0 1px var(--search-outline);
}

.bp3-input-group > .bp3-icon {
  color: var(--search-font-color);
}

/* Breadcrumbs */
.zoom-mentions-view {
  font-size: var(--breadcrumb-font-size);
}
.zoom-mentions-view span {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.rm-zoom .parent-path-wrapper {
  max-height: none;
  white-space: normal;
}

.rm-zoom.zoom-path-view .rm-zoom-mask {
  background-color: var(--breadcrumb-bg);
  flex: 1 1 100%;
  mix-blend-mode: saturation;
}

/* Comment/un-comment to remove checkboxes in breadcrumb navigation */
.roam-article
  > div:first-child:not(.roam-log-container)
  > div:first-child
  label.check-container,
.roam-reference-item
  > div:first-child:not(.roam-log-container)
  > div:first-child
  label.check-container {
  display: none;
}

/* Scrollbars - NOTE: Requires 'gloabl/features/scrollbars/mosaic/main' or 'gloabl/features/scrollbars/simple/main' to be installed */
div::-webkit-scrollbar-track {
  background-color: var(--scrollbar-thumb) !important;
}

div::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-track) !important;
  border-color: var(--scrollbar-thumb);
}
div::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: var(--scrollbar-thumb);
}

/* Left sidebar */
.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--left-sidebar-bg);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  color: var(--left-sidebar-font-color);
  font-size: var(--left-sidebar-font-size);
}
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button:hover {
  background-color: var(--left-sidebar-hover-bg);
  color: var(--left-sidebar-font-color-hover);
}
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper {
  color: var(--left-sidebar-shortcuts-title-color);
  padding: 8px 0 !important;
}
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .flex-h-box {
  padding: 0 20px;
}
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page {
  color: var(--left-sidebar-shortcuts-color);
  font-size: var(--left-sidebar-shortcuts-font-size);
  padding: 8px 20px;
}
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page:hover {
  background-color: var(--left-sidebar-hover-bg);
  color: var(--left-sidebar-font-color-hover);
}

#roam-sidebar-logo img {
  opacity: 0.4;
}

#roam-sidebar-logo span {
  display: none;
}

/* Right sidebar */
#right-sidebar {
  background-color: var(--right-sidebar-bg) !important;
}
#right-sidebar .rm-block-text {
  padding-right: 30px;
}

#roam-right-sidebar-content div {
  font-family: var(--main-font);
}
#roam-right-sidebar-content div h1 div {
  font-family: var(--h1-font);
}
#roam-right-sidebar-content div h2 div {
  font-family: var(--h1-font);
}
#roam-right-sidebar-content div h2 div textarea {
  font-family: var(--h1-font);
}
#roam-right-sidebar-content div h3 div {
  font-family: var(--h1-font);
}
#roam-right-sidebar-content div h3 div textarea {
  font-family: var(--h1-font);
}

/* Right sidebar SECTION border */
div[style*="border-bottom: 1px solid rgb(138, 155, 168);"] {
  border-bottom: 1px solid var(--right-sidebar-section-border-color) !important;
}

.roam-block-container {
  position: relative;
}
.roam-block-container .block-border-left {
  border-left: none;
}
.roam-block-container .rm-block-main {
  margin-left: 10px;
}
.roam-block-container .rm-block-main .controls {
  display: table-cell;
  position: absolute;
  height: 100%;
}
.roam-block-container .rm-block-main .controls .block-expand {
  opacity: 1 !important;
  display: table-cell;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: -3px;
  border-left: 1px solid var(--bullet-outline);
}
.roam-block-container
  .rm-block-main
  .controls
  .block-expand
  .bp3-icon-caret-down {
  border-left: 1px solid var(--bullet-outline);
  height: 100%;
  width: 20px;
}
.roam-block-container
  .rm-block-main
  .controls
  .block-expand
  .bp3-icon-caret-down.rm-caret-closed {
  transform: none;
}
.roam-block-container
  .rm-block-main
  .controls
  .block-expand
  .bp3-icon-caret-down:before {
  content: "";
}
.roam-block-container
  .rm-block-main
  .controls
  .block-expand
  .bp3-icon-caret-down {
  border-color: var(--bullet-outline-highlight);
}
.roam-block-container
  .rm-block-main
  .controls
  .block-expand
  .bp3-icon-caret-down:hover {
  border-width: 4px;
}
.roam-block-container
  .rm-block-main
  .controls
  .roam-bullet-closed.simple-bullet-outer {
  opacity: 1;
  margin-top: 7px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--bullet-closed);
  left: 9px;
}
.roam-block-container
  .rm-block-main
  .controls
  .roam-bullet-closed.simple-bullet-outer
  .simple-bullet-inner {
  position: absolute;
  border-radius: 0px;
  width: 1px;
  left: -13px;
  background-color: var(--bullet-outline-highlight);
  padding: 9px 0px;
}
.roam-block-container .rm-block-main .controls .simple-bullet-outer {
  position: relative;
  left: 3px;
}
.roam-block-container .rm-block-main span[style*="margin-top: 4px;"] {
  position: absolute;
  left: 30px;
  top: -1px;
}
.roam-block-container .rm-block-main .roam-block,
.roam-block-container .rm-block-main .rm-block-input {
  margin-left: 25px;
}
.roam-block-container:hover > .rm-block__self .controls .block-expand {
  border-left-style: solid;
  border-left-color: var(--bullet-outline-hover);
}
.roam-block-container
  > .rm-block-main
  > div:nth-child(1)
  .rm-bullet
  .rm-bullet__inner {
  background-color: default;
  width: default;
  height: default;
  border-radius: default;
  transition: width 200ms linear, height 200ms linear,
    border-radius 200ms linear;
}

.roam-block-container:focus-within
  > .rm-block-main
  > div:nth-child(1)
  .rm-bullet
  .rm-bullet__inner {
  background-color: var(--bullet-outline-hover);
  width: 8px;
  height: 3px;
  border-radius: 0;
  transition: width 200ms linear, height 200ms linear,
    border-radius 200ms linear;
}

.rm-find-or-create-wrapper {
  flex: 0 1 100% !important;
  position: relative;
  transition: all 200ms ease-in;
}
.rm-find-or-create-wrapper .bp3-transition-container {
  width: 100%;
}
.rm-find-or-create-wrapper .bp3-menu {
  max-width: none;
  max-height: 400px;
}
.rm-find-or-create-wrapper .rm-menu-item {
  border-radius: 2px;
  cursor: pointer;
  padding: 6px;
}
.rm-find-or-create-wrapper .rm-menu-item .rm-search-title {
  font-weight: bold;
}
.rm-find-or-create-wrapper .rm-menu-item .rm-search-title .rm-new-page {
  color: var(--search-new-page-color);
}
.rm-find-or-create-wrapper .rm-menu-item .rm-search-list-item {
  color: var(--search-body-font-color);
  margin-left: -20px;
  overflow-wrap: break-spaces;
  word-break: break-word;
}
