/* Bullet Zoom Focus v2.4 by Jeff Harris
When zoomed in on a bullet add the tag #.rm-focus to the parent block
to create a minimal writing environment. This only works when zoomed in
so there is no need to remove the tag when done.
*/

.zoom-path-view + div .rm-focus div,
.zoom-path-view + div .rm-focus .rm-block-input {
  font-family: "Calendas Plus", "Lora", "Droid Serif", "Georgia", serif !important;
  font-size: 20px;
  line-height: 1.5em;
  /* space between lines */
}

.zoom-path-view + div .rm-focus .rm-multibar {
  display: none;
}

.zoom-path-view + div .rm-focus .rm-bq {
  font-size: 18px;
}

.zoom-path-view + div .rm-focus .rm-hide-bullet > .rm-embed-inner-block-hide {
  margin-left: -30px;
}

.zoom-path-view
  + div
  .rm-focus
  .rm-embed-show-bullet
  .rm-embed-inner-block-hide {
  margin-left: -2px;
}

.zoom-path-view + div .rm-focus.roam-block-container .roam-block-container {
  margin-top: 0.7em;
  /* space between blocks */
}

.zoom-path-view + div .rm-focus .rm-block__controls {
  visibility: hidden;
}

.zoom-path-view + div .rm-focus .rm-block__self:hover .rm-block__controls {
  visibility: visible;
}
