/* Bullet Zoom Focus v2.3 by Jeff Harris
When zoomed in on a bullet add the tag #.rm-focus to the parent block
to create a minimal writing environment. This only works when zoomed in
so there is no need to remove the tag when done.
*/

.zoom-path-view + div .rm-focus div,
.zoom-path-view + div .rm-focus .rm-block-input {
  font-family: "Calendas Plus", "Lora", "Droid Serif", "Georgia", serif;
  font-size: 20px;
  line-height: 1.5em; /* space between lines */
}

.zoom-path-view
  + div
  .rm-focus
  .rm-heading-level-1
  > .rm-block__self
  .rm-block__input,
.zoom-path-view
  + div
  .rm-focus
  .rm-heading-level-2
  > .rm-block__self
  .rm-block__input {
  font-family: "Calendas Plus", "Lora", "Droid Serif", "Georgia", serif !important;
}

.zoom-path-view + div .rm-focus.roam-block-container .roam-block-container {
  margin-top: 0.7em; /* space between blocks */
}

.zoom-path-view + div .rm-focus.roam-block-container .controls,
.zoom-path-view + div .rm-focus .rm-multibar {
  display: none;
}

.zoom-path-view + div .rm-focus .block-border-left {
  border: none;
}

.zoom-path-view + div .rm-focus .rm-level-1 {
  margin-left: -4px;
}
